In [28]:
import json
import requests
import pandas as pd

In [53]:
url = f"https://2bec-35-221-162-179.ngrok-free.app" + f"/predict_manual"  # Substitua localhost:8006 pela URL correta

In [54]:
# Definindo as colunas baseadas no esquema fornecido
columns = [
    "age", "job", "marital", "education", "default", "balance", "housing", "loan",
    "contact", "day", "month", "duration", "campaign", "pdays", "previous", "poutcome", "y"
]

# Criando dados fictícios para teste
data = [
    (25, "admin.", "single", "tertiary", "no", 500, "yes", "no", "cellular", "21", "may", 250, "1", "999", "0", "unknown", "no"),
    (42, "technician", "divorced", "secondary", "no", 2000, "yes", "yes", "unknown", "15", "jul", 300, "2", "5", "0", "success", "yes"),
    (36, "blue-collar", "married", "primary", "no", 0, "no", "no", "telephone", "30", "nov", 120, "1", "999", "0", "unknown", "no"),
    (29, "student", "single", "tertiary", "no", 300, "no", "no", "cellular", "10", "mar", 180, "3", "7", "1", "failure", "yes"),
    (45, "management", "married", "tertiary", "yes", 1500, "yes", "yes", "cellular", "5", "jun", 240, "1", "999", "0", "unknown", "yes"),
    (50, "self-employed", "divorced", "secondary", "no", 800, "no", "yes", "telephone", "20", "oct", 350, "2", "999", "0", "other", "no"),
    (39, "entrepreneur", "married", "secondary", "no", 1200, "yes", "no", "cellular", "14", "may", 150, "1", "999", "0", "unknown", "yes"),
    (34, "services", "single", "secondary", "no", 450, "yes", "no", "cellular", "18", "apr", 280, "1", "30", "2", "success", "yes"),
    (48, "retired", "married", "primary", "yes", 600, "no", "yes", "telephone", "28", "sep", 200, "2", "999", "0", "failure", "no"),
    (27, "student", "single", "tertiary", "no", 500, "yes", "no", "cellular", "17", "feb", 330, "2", "999", "0", "other", "yes")
]

data_dict = {col: [row[i] for row in data] for i, col in enumerate(columns)}

In [55]:
# Enviar solicitação POST
response = requests.post(url, json=data_dict)

# Verificar a resposta
if response.status_code == 200:
  print('Requisição Aceita com Sucesso')
  data_json = json.loads(response.json())
else:
  print("Erro:", response.status_code)
  print("Conteúdo da resposta:", response.content)

Requisição Aceita com Sucesso

In [56]:
df = pd.DataFrame(data_json)
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,prediction
0,25,admin.,single,tertiary,no,500,yes,no,cellular,21,may,250,1,999,0,unknown,no,yes
1,42,technician,divorced,secondary,no,2000,yes,yes,unknown,15,jul,300,2,5,0,success,yes,yes
2,36,blue-collar,married,primary,no,0,no,no,telephone,30,nov,120,1,999,0,unknown,no,no
3,29,student,single,tertiary,no,300,no,no,cellular,10,mar,180,3,7,1,failure,yes,yes
4,45,management,married,tertiary,yes,1500,yes,yes,cellular,5,jun,240,1,999,0,unknown,yes,no
5,50,self-employed,divorced,secondary,no,800,no,yes,telephone,20,oct,350,2,999,0,other,no,no
6,39,entrepreneur,married,secondary,no,1200,yes,no,cellular,14,may,150,1,999,0,unknown,yes,yes
7,34,services,single,secondary,no,450,yes,no,cellular,18,apr,280,1,30,2,success,yes,yes
8,48,retired,married,primary,yes,600,no,yes,telephone,28,sep,200,2,999,0,failure,no,no
9,27,student,single,tertiary,no,500,yes,no,cellular,17,feb,330,2,999,0,other,yes,yes